[Unit]
Description=save system clock if not running live
Before=umount.target

[Service]
ExecStart=/bin/true
ExecStop=/etc/init.d/hwclock.sh stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
