[Unit]
Description=antiX live-USB persist autosave at shutdown
Before=umount.target
ConditionPathExists=/live/boot-dev
RequiresMountsFor=/ /live

[Service]
ExecStart=/bin/true
ExecStop=/live/etc/init.d/persist-autosave stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
